---
title: About ACM
permalink: "aboutACM/index.html"
layout: default
---

<div class="resume row">
    <div class="col-md-12">
        <div id="about_me">
            <div class="col-md-12" style="margin-top: 20px">
                <a href="{{ " /public/images/acm_logo.png " }}" data-toggle="lightbox" data-title="Logo"
                    data-gallery="officer-gallery" class="col-xs-6">
                    <img src="{{ " /public/images/acm_logo.png " }}" class="featurette-image img-responsive"
                        style="width = 350px;">
                </a>
                <h2>What is ACM?</h2>
                <p>{{site.about.aboutACM2 | markdownify }}</p>
            </div>
            <p>{{site.data.about.aboutACM1 | markdownify }}</p>
            <br>

            <br>
            <div class="row">
                <div class="row people">
                    {% for officer in site.data.about.acmOfficers %}
                    <div class="col-md-4">
                        <a href="/public/images/officers/{{officer.image}}" data-toggle="lightbox"
                            data-title="{{officer.name}} - {{officer.position}}" data-gallery="officer-gallery"
                            class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-0">
                            <img src={{"/public/images/officers/" | append: officer.img | append: ""}}
                                class="featurette-image img-responsive">
                        </a>
                        <div class="col-xs-12 col-md-6">
                            <h2>{{officer.name}}</h2>
                            <h4>{{officer.position}}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br></br>

            <br></br><br>

            <p>
                <h2>Current officers for 2019-2020</h2>
                <ul>
                    {% for officer in site.data.about.acmOfficers %}
                    <li>{{officer.name}} - {{officer.position}} </li>
                    {% endfor %}
                </ul>

            </p>
        </div>
    </div>
</div>