 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a inclusive group of students, artists, hackers, and organizers that believe strongly in experimental learning and the Do-It-Yourself ethic. We facilitate student-led technology initiatives and encourage hands-on learning by maintaining an open workshop and creative space that is freely available to all students.</p>
                </div>
                <div class="col-lg-4">
                    <p>We maintain an inclusive membership policy, and strive to apply the principles of the open-software and open-hardware movements within our design policies. In short, we are an immersive experiment into the hacker ethic.</p>
                </div>
            </div>
        </div>
    </section>