 <!-- Intro Section -->
    <section class="intro" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What is <span class="red-logo">BU</span>ILDS?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>BUILDS is a student-run hackerspace that provides BU students with all the tools and resources for leading collaborative student tech projects. We take the dirt and grit of the world and give it a shine. We're not led by a single purpose or mission, but we work on projects that are truly interesting to us. We're a self-motivated, skillful bunch who do what we love because we love it! </p>
                    <p>In BUILDS, it's about the heart. Access is open to members 24 hours a day, 7 days a week. Swing by MCS B26 at Boston University to check out our hackerspace. Meetings are every Wednesday at 6:30 PM.</p>
                </div>
            </div>
        </div>
    </section>