<div style = "margin-left: 25px" class="col-lg-4">
	<h2>Keep up with BUILDS</h2>
	<p style = "font-size: 18px;">
		Swing by <span class="logo-red">MCS B26</span> anytime. We have meetings in our room every Wednesday at 6:30 PM. Everyone is welcome. Just come right in. Be sure to join our <a target="_blank" href="https://www.facebook.com/groups/acmbuilds/">Facebook group</a> or e-mail us at <span class ="logo-red">acm@bu.edu</span>
	</p>
	<hr style="margin-top: 15px">
	<h2>Give a Talk</h2>
	<p style = "font-size: 18px">
		BUILDS is always looking forward to new speakers for the year. We're looking for people who develop or who make things, so if you're a professor, organization, company, or solo-developer, we'd love to have you speak to BUILDS. We appreciate and are genuinely excited about technology, so consider giving a talk or workshop. Send us an e-mail at <span class = "logo-red">acm@bu.edu</span>.
	</p>
</div>