---
---
/**
 * index.html styling
 */

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  /* padding-bottom: 1rem; */
  /* border-bottom: .05rem solid #e5e5e5; */
  border-bottom: .05rem solid #49B1F7;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/**
 * This is the orange color of the theme.
 */
.color-red {
  color: #EC4E3B;
}

/**
 * This panel controls the overlaid panel over the particles effect. What is BUILDS? sign.
 */
.panel {
  font-size: 1.25em;
  position: absolute;
  z-index: 10;
  width: 400px;
  height: 600px;
  background: #eee;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -200px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
}

.panel .title-card {
  font-size: 1.35em;
}

/**
 * I wanted the container to pop over the panel in case for some reason, the panel margin was incorrect. Container visible priority.
 */
.container {
  z-index: 101;
}

/*
 * Navigation Bar had a weird margin for navbar, so for widths at 991px, I fixed it along with repositioning the panel.
 */
@media (max-width: 991px) {
  .navbar-brand {
    margin-top: 10px;
  }

  .panel {
    width: 350px;
    margin: -150px 0 0 -175px;
  }
}

/**
 * I did this to make the entire nav bar black and blend in with the background.
 */
.bg-inverse {
  background-color: #222A30 !important;
}

/**
 * Overwrite styling of navigation bar.
 */
.navbar-inverse .navbar-nav .nav-link {
  color: #B3D1F0;
}

.navbar-inverse .navbar-nav .nav-item a:hover {
  color: #EC4E3B;
}

/**
 * Social media was a little bit too high. I wanted it to be the gray color and hover as orange.
 */
.social {
  margin-top: 22px;
  margin-bottom: 0.5rem;
}

.social .social-icons {
  color: white;
}

.social a:hover {
  color: #EC4E3B;
}

/**
 * Styling the footer on the main page.
 */
.footer {
  margin-top: 4.0rem;
  margin-bottom: 1.0rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #A3BFC6;
  border-top: 0;
}
