---
---
/* main */

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: {{ site.data.theme.text-color }};
  font-weight: normal;
  background: {{ site.data.theme.bg }};
  -webkit-font-smoothing: subpixel-antialiased;
}

{% unless site.data.theme.show-scroll %}
::-webkit-scrollbar {
    width: 0 !important
}
{% endunless %}

h1, h2, h3, h4, h5, h6 {
  color: {{ site.data.theme.text-color }};
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: {{ site.data.theme.text-color }};
}

a {
  color: #49B1F7;
  font-weight: 400;
  text-decoration: none;
  transition: color .2s ease-in;
}

a:hover {
  color: {{ site.data.theme.text-color-accent }};;
}

a:hover, a:active, a:focus, a:visited  {
  text-decoration: none;
  outline: 0;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    max-width: 80vw;
  }
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid {{ site.data.theme.text-color-accent }};;
  margin: 0 1 auto;
  padding: 0 0 0 20px;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid {{ site.data.theme.text-color }};;
  color: #b6b6b6;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid {{ site.data.theme.text-color }};;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid {{ site.data.theme.text-color-accent }};;
}

dt {
  color: {{ site.data.theme.text-color }};;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.buildsLogo {
  width: 100%;
  max-width: 500px;
}


section {
  padding: 20px 0px 50px 0px;
  margin: 20px 0;

  #header {
    border: 0;
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    display: inline-block;
    width: 100%;


    h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      font-size: 38px;
      text-align: center;
    }

    p {
      color: {{ site.data.theme.text-color }};;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      font-size: 2.5rem;
      text-align: center;
    }

    .credits {
      // font-size: 13px;
      font-size: 2.5rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      color: {{ site.data.theme.text-color }};;
      margin-top: -25px;
      transition: color .2s ease-in;
      a {
        i {
          font-size: 3rem;
        }
      }
    }

    .credits a:hover {
      color: {{ site.data.theme.text-color-accent }};;
    }
  }

  #header, #footer {
    .social {
      a {
        color: {{ site.data.theme.text-color }};;
        font-size: 17px;
        padding-left: .25em;
        margin: 0 5px;
      }
    }
  }

  .p-title{
    color: {{ site.data.theme.text-color-accent }};;
  }
}

.section-header-archive, .tag_name{
	margin:  15px 0 0 0;
}

.paginate{
  margin-bottom: 15px;
}

.resume p{
  // font-size: 15px;
  line-height: 24px;
  margin: 0 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: {{ site.data.theme.text-color }};;
}

.tags{
//  font-size: 13px;
}

.tags a {
  display: inline-block;
  margin: 0 10px 10px 0;
}

/* for circled image */
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-bottom: 15px;
}

#header #sitename,
.resume span,
.resume h2 {
  color: {{ site.data.theme.text-color-accent }};;
  font-weight: 600;
}

.resume h4 {
  font-size: 2rem;
}

#sitename{
  font-weight: 700;
}

mark, .mark {
  opacity: 0.9;
}

.orng{
  color: {{ site.data.theme.text-color-accent }};;
}

/**
 * CUSTOM MISCELLANEOUS STYLING
 */
.color-white {
  color: white;
}

.modal-title {
  color: {{ site.data.theme.text-color-accent }};;
}


.credits a {
  color: {{ site.data.theme.text-color }};;
}

.people {
  margin-top: 30px;
}

.people div {
  margin-top: 10px;
}


a {
  color: {{ site.data.theme.text-color-accent }};
}

a:hover {
  color: {{ site.data.theme.text-color }};
}


::selection {
  color: {{ site.data.theme.text-color }};
  background: {{ site.data.theme.text-color-accent }};
}



.panel, .title-card {
  color: {{ site.data.theme.bg }}
}

.panel {
  padding: 20px;
}

#mc-embedded-subscribe, #mc_embed_signup {
  min-height: 30px;
}