---
layout: default
title: BUILDS - Events
---

<div id = "builds" style = "margin-top: -50px;" class="jumbotron">
 	<div style="color: black; font-family: 'Noto Sans', sans-serif; font-size: 15px;" class ="container marketing jumbotron">
        <div class="row">
            <div class="col-lg-7">
            <h2>Events</h2>
		     {% for post in site.categories.events%}
			 <div class='row-fluid news-item'>
			  <h3><a href="{{site.base}}{{post.url}}">{{ post.title }}</a></h3>
			  <p class="author" style="font-size: 16px">
			    <i style = "color: #cc2200;" class="fa fa-user"></i> {%if post.author %} {{post.author}} {%else%} BUILDS {%endif%} &nbsp; <i style = "color: #cc2200;" class="fa fa-calendar"></i> {{ post.date | date: "%m/%d/%Y"}}</span> 
			  </p>
			  <div class="content">
			  		{%if post.image_url %}
				  		<center>
					  		<img src="{{site.base}}{{post.image_url}}" class="thumbnail" style="width:auto; height:200px"/>
					  	</center> 
					  	<br/>
				  	{%endif%}
		            {%  if post.content contains "<!-- more -->" %}
		            	{{ post.content | split:"<!-- more -->" | first }}
		            {% else %}
		            	{{ post.content | strip_html | truncatewords:200 }}
		            {% endif %}
		            <br/>
		            <center>
			            <a style = "margin-top: -30px" class="btn btn-danger btn-sm" href="{{site.base}}{{post.url}}#section">Read More</a>
			        </center>
			  </div>
			 </div>
			{% endfor %}

			<!-- Pagination links -->
			<div class="pagination">
			  {% if paginator.previous_page %}
			    <a href="/events/page{{ paginator.previous_page }}" class="previous">Previous</a>
			  {% else %}
			    <span class="btn btn-default btn-sm">Previous</span>
			  {% endif %}
			  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
			  {% if paginator.next_page %}
			    <a href="/events/page{{ paginator.next_page }}" class="next">Next</a>
			  {% else %}
			    <span class="btn btn-default btn-sm">Next</span>
			  {% endif %}
			</div> 
		   </div>

		   {% include sidebar.html %}
        </div>
  	</div>
</div>